.git
.github
.DS_Store
.grimp_cache
.import_linter_cache
.mypy_cache
.pytest_cache
.ruff_cache
.venv
__pycache__
*.pyc
db.sqlite3
docs/secrets.md
.env
*.pem
frontend/dist
frontend/node_modules
node_modules
backend/media
staticfiles
